.p1 body {
    background-color: #663300;
}
.p1 .mspfalogo {
    border-right-color: #cc6666;
    background-image: url("https://orig00.deviantart.net/48e2/f/2017/290/0/9/headfooter_by_wellidkartist-dbqxlzn.gif") !important;
}
.p1 nav {
    background-color: #ff9933;
    text-transform: uppercase;
    color: #7f7f7f;
}
.p1 nav .heart {
    background-image: url("https://orig00.deviantart.net/135e/f/2017/290/3/b/tooth_by_wellidkartist-dbqxj1s.png");
}
.p1 nav a {
    color: #fff !important;
}
.p1 a:link {
    color: #ffcc99;
}
.p1 a:visited {
    color: #ff9999;
}
.p1 a:hover, a:active {
    color: #ff9999;
}
.p1 #main {
    background-color: #cc3333;
}
.p1 #slide {
    display: block;
    background-color: #501600;
    color: #fff;
}
.p1 #foot {
    color: #ffff00;
}
.p1 #links {
    color: #fff;
}
.p1 #info {
    color: #fff;
}
.p1 #info > span > .spoiler.open {
    background: #ff6633;
}
.p1 body#p3541 #links {
    font-weight: bolder;
    font-size: 28px;
}
.p1 body#p3542 #command {
    display: none;
}
.p1 body#p3542 #content .major {
    margin-left: -175px;
}
