.p2 body {
    background-color: #003333;
}
.p2 .mspfalogo {
    border-right-color: #66cccc;
    background-image: url("https://orig00.deviantart.net/117d/f/2017/291/6/6/footheader_by_wellidkartist-dbr0r27.gif") !important;
}
.p2 nav {
    background-color: #33cc99;
    text-transform: uppercase;
    color: #7f7f7f;
}
.p2 nav .heart {
    background-image: url("https://orig00.deviantart.net/3dcd/f/2017/291/5/7/cube_by_wellidkartist-dbr0r2y.gif");
}
.p2 nav a {
    color: #fff !important;
}
.p2 a:link {
    color: #999933;
}
.p2 a:visited {
    color: #ffff66;
}
.p2 a:hover, a:active {
    color: #99ffff;
}
.p2 #main {
    background-color: #669966;
}
.p2 #slide {
    display: block;
    background-color: #336666;
    color: #fff;
}
.p2 #foot {
    color: #00ffff;
}
.p2 #links {
    color: #fff;
}
.p2 #info {
    color: #fff;
}
.p2 #info > span > .spoiler.open {
    background: #99cc66;
}
.p2 body#p3541 #links {
    font-weight: bolder;
    font-size: 28px;
}
.p2 body#p3542 #command {
    display: none;
}
.p2 body#p3542 #content .major {
    margin-left: -175px;
}
